

body {
  background-color: #0A0120;
  position: relative;
}

.color {
  color : yellow
}
.noShow {
  display : none;
}

.headerNav{
  display : flex;
  align-items: baseline;
  gap :11em;
  padding-top : 1em;
  position: absolute;
  top : 0;
  z-index: 999;
  margin-left : 100px;
}
.headerLogo {
  font-weight: 900;
  font-style: italic;
  font-family: serif;
  font-size: 23px;
  color : yellow;
}
.headerLinks {
  display : flex;
  gap : 40px;
  align-items : baseline;
}
.headerMenu ul  {
  display : flex;
  gap : 25px;
  list-style : none;
}
.headerMenu ul li a {
  text-decoration : none;
  color : white;
  transition :all .8s;
  font-weight: bold;
}
.headerMenu ul li a:hover {
  color: rgb(0, 132, 255);
}
.headerSearch {
  position: relative;
}
.headerSearch i {
  position : absolute;
  top : .6em;
  left : .8em;
  font-size: 1.3rem;
  color : yellow;
}
.headerSearch input {
  border-radius :  1.5em;
  font-size: 0.9rem;
  height: 3em;
  width: 20em;
  padding-left : 3em;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 2s;
}
.headerSearch input:focus {
  background-color: #ffffffae;
  color: rgb(10, 9, 108);
  font-weight: 800;
}
.headerSearch:hover i {
  color :#28077b;
}
.searchBoxInfo {
  width : 300px;
  height : 250px;
  overflow : auto;
  border : 1px solid white;
  border-radius: 15px;
  background-color: #ffffffae;
}
.searchBoxItems {
  display : flex;
  gap : 10px;
  text-decoration: none;
  color : rgb(10, 9, 108);
  font-weight: bolder;
  font-size: 13px;
  font-style: italic;
  margin-top: 3px;
}
.searchBoxItems img {
  height: 50px;
  width: 50px;
  border-radius: 15px;
}
.searchBoxItems span:last-child {
  color : yellow;
  opacity: .5;
}
.headerSign {
  display : flex;
  gap : .8em;
  align-items : baseline;
  font-weight: bold;
  color : white;
}
.headerSign  i {
  font-size : 1.3rem ;
}
.headerSign a {
  text-decoration : none;
  color : white;
  transition: all .5s;
}
.headerSign  a:hover {
  color: rgb(0, 132, 255);
}
.headerSign button {
  color : white;
  margin-left : .7em;
  transition : all .5s;
  background-color: inherit;
  border : none;
}
.headerSign button:hover {
  color:  rgb(0, 132, 255);
}


.login {
  background: linear-gradient(
    rgb(11, 3, 58),
    rgba(10, 1, 32, 0.902),
    rgb(10, 1, 32),
    rgb(6, 1, 20)
  );
  position: absolute;
  top:0;
  z-index: 99;
  width: 100vw;
  height: 100vh;
}
.formLogin {
  display : flex;
  flex-direction: column;
  gap : 25px;
  width: 20%;
  margin :13em auto 0;
}
.formLogin input {
  padding : 15px;
  border-radius: 1em;
  background-color: #2b0982;
  color : white;
  border : 1px solid rgb(4, 6, 88);
}
.login p {
  color : red;
  margin : -1.5em 1em;
}


.headerSlider img {
  height: 100vh;
  width: 100%;
}
.headerSlider::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    rgba(11, 3, 54, 0.952),
    rgba(1, 23, 70, 0.514),
    rgba(0, 0, 0, 0.062),
    rgba(0, 0, 0, 0.062),
    rgba(0, 0, 0, 0.062),
    rgba(0, 0, 0, 0.062),
    rgba(10, 1, 32, 0.664)
  );
  z-index: 2;
}
.imgSliderInfo{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  bottom: 0em;
  left: 0em;
  width: 100%;
  height: 35vh;
  color : white;
  background: linear-gradient(
    rgba(11, 3, 58, 0),
    rgba(10, 1, 32, 0.678),
    rgb(10, 1, 32)
  );
}
.imgSliderInfo h1 {
  color: #ffffff;
  display: flex;
  font-size: 2.5rem;
  font-weight: 600;
  text-shadow: 5px 5px 6px #000000;
  margin-bottom: 0;
}
.imgSliderInfo ul{
  display: flex;
  list-style: none;
  justify-content: flex-start;
  align-items: center;
  gap: 2em;
  padding-left: 0;
}
.imgSliderInfo ul li {
  text-shadow: 5px 5px 6px #000000;
  font-size: 1rem;
  font-weight: 600;
}
.imgSliderInfo ul li:first-child {
  background-color: #a17bff;
  padding: 0.1em 0.3em;
  border-radius: 0.5em;
}
.imgSliderInfo ul li:nth-child(2) i {
  color: yellow;
}
.headerBottom ul{
  display: flex;
  gap :  15px;
  margin-left: 25px;
}
.headerBottom ul li {
  border : 1px solid red;
  border-radius: 25px;
  padding:1em;
}
.headerBottom ul li a {
  text-decoration: none;
}


.mainMT {
  margin-top: 100px;
}
.mainMT h1 {
  color : white;
  margin-left: 25px;
}
.mainMT ul {
 display : flex;
 gap : 15px;
 flex-wrap : wrap;
 list-style : none;
 margin-top: 10px;
}
.mainMT ul a {
  text-decoration: none;
  color : white;
}
.mainMT ul li {
  position: relative;
  text-align:center ;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5em;
  margin-top: 1.5em;
  border-radius: 10px;
  transform: scale(1, 1);
  transition: transform 2s;
}
.mainMT ul li:hover {
  border-radius: 10px;
  border : 2px solid white;
  background-color: #170348;
  transform: scale(1.13, 1.1);
}
.mainMT li img {
  border-radius: 5px;
}
.mainMTHD {
  position: absolute;
  top : 5px;
  right : 10px;
  border : 1px solid white;
  background-color: black;
  color : white;
  padding : 3px 9px;
  border-radius: 3px;
  font-weight: bold;
}
.mainMTinfo {
  border : 1px solid rgba(255, 255, 255, 0.206);
  border-radius: 5px;
  padding : 1px 4px;
}
.mainMT ul li div:last-child p {
  display: flex;
  gap : 10px;
  margin-left: 30px;
  color : rgba(240, 248, 255, 0.585);
}



.singlePage {
  color : white;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.opaCity{
  display : flex;
  flex-direction: column;
  width : 100%;
  height: 100%;
  background: linear-gradient( to left ,
    rgb(11, 3, 58),
    rgba(10, 1, 32, 0.902),
    rgba(10, 1, 32, 0.902),
    rgba(10, 1, 32, 0.902),
    rgb(10, 1, 32),
    rgb(6, 1, 20,.98)
  );
  padding-top: 150px;
}
.singlePageInfo {
  display : flex;
  justify-content:flex-start ;
}
.singlePageLeft {
  position: sticky;
  top : 0px;
  width: 20%;
  padding-left: 25px;
}
.singlePage button {
  background-color: #170348;
  color : white;
  padding : 20px;
  border : none;
  border-radius: 8px;
  margin-top: 10px;
  width: 80%;
  cursor: pointer;
}
.singlePageLeft img {
  width: 80%;
  height: 300px;
  border-radius: 5px;
}
.singlePageRight {
  width: 80%;
  margin-right: 30px;
}
.singlePageRate {
 display: flex;
 gap : .1em;
}
.singlePageRate button {
 background-color: inherit;
 width: 1%;
 font-size: 30px;
 color : yellow ;
}
.singlePageRight hr {
  opacity: .4;
  margin-top: 1.5em;
}
.singlePageSimilar {
  margin-top: 40px;
}
.singlePageSimilar ul{
  display : flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap : 2.2em;
  list-style: none;
}
.singlePageSimilar img {
  border-radius: 5px;
  width: 100%;
}
.singlePageSimilar ul a {
   text-decoration: none;
   color : white;
}
.singlePageSimilar ul li {
   width: 15%;
   position: relative;
   text-align:center ;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   gap: 0.1em;
   margin-top: 1.5em;
   border-radius: 10px;
   transform: scale(1, 1);
   transition: transform 2s;
 }
.singlePageSimilar ul li:hover {
   border-radius: 10px;
   border : 2px solid rgba(255, 255, 255, 0.399);
   background-color: #170348;
   transform: scale(1.13, 1.1);
 }
.singlePageTrailer ul {
  display: flex;
  justify-content: space-between;
  padding : 3em;
}


.profile {
  color : white;
  background: linear-gradient(
    rgb(11, 3, 58),
    rgba(10, 1, 32, 0.94),
    rgb(10, 1, 32),
    rgb(6, 1, 20)
  );
  position: absolute;
  top:0;
  z-index: 99;
  width: 100vw;
  height: 79vh;
  display : flex;
  padding-top: 150px;
  gap : 5em;
}
.profileLeft {
  margin-left: 50px;
}
.profileLeft h1 {
  margin-left: 5px;
  font-style: italic;
}
.profileLeft img {
  border-radius: 50%;
  opacity: .7;
}
@keyframes glow {
  from { color: red; }
  to { color: rgba(238, 33, 33, 0.515); }
}
.profileLeft button {
  font-size: 4rem;
  border : none;
  background-color: inherit;
  cursor: pointer;
  animation: glow .9s ease infinite alternate;
}
.profileRight ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8em;
}
.profileRight ul li {
  list-style: none;
  width: 30%;
  margin : .5em;
  display : flex;
  gap : .5em;
}
.profileRight ul li  img {
  height: 80%;
  width : 12%;
  border-radius: .5em
}
@keyframes grow {
  from { color: yellow; }
  to { color: rgba(255, 255, 0, 0.775); }
}
.profileRight ul li a {
  text-decoration: none;
  animation: grow .9s ease infinite alternate;
  font-size: 1.1rem;
}
.profileRight ul li a:hover {
  color : #1e045d;
}
.profileRange {
  display: flex;
  gap : 4em;
  margin-left: 8em;
  margin-top : 5em;
}
.profileRange div {
  border: 1px outset #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:2em;
}


/* footer starts */
.aboutUs {
  background-color: #0e0131;
  width: 100%;
  height: 60vh;
  color: white;
}
.footer {
  display: flex;
  gap : 11em;
  padding: 3em 5em;
}
.footerLeft {
  width: 40%;
  text-align: justify;
}
.footerLeft h3 {
  font-weight: 600;
}
.footerLeft p {
  line-height: 1.7em;
  color: #ffffff7e;
  font-weight: 200;
}
.footer strong {
  font-weight: 600;
}
.footerRight {
  display: flex;
  flex-wrap: wrap;
}
.footerRight div {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
  align-items: center;
  gap: .1em;
  color: #ffffff7e;
  font-weight: 600;
}
.footerRight i {
  font-size: 1.1rem;
  border: 1px solid rgb(111, 111, 255);
  padding: 0.6em 0.6em;
  border-radius: 5px;
}
.aboutUs hr {
  margin : 0 8em;
  opacity: .1;
}
.footerLinks {
  display: flex;
  justify-content: center;
}
.footerLinks ul {
  color: rgb(80, 80, 255);
  display : flex;
  gap : 2em;
  list-style : none;
  font-weight: 900;
  font-size: 25px;
}
/* footer ends  */
